/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}

/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}

a {
  color: #2772B0;
}

.wrapper {
  width: 97%;
  max-width: 100%;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

div img {
  width: 100%;
  max-width: 225px;
}

/* grid system -- mobile first! */
.row {
  display: flex;
  margin: 1%;
  max-width: 100%;
  flex-direction: column;
}

.col-1,
.col-1-4,
.col-2,
.col-3,
.col-1-2 {
  flex: 0 0 98%;
}

.col-1 {
  background-color: antiquewhite;
}

.col-1-4 {
  background-color: aliceblue;
}

.col-2 {
  background-color: aquamarine;
}

.col-3 {
  background-color: bisque;
}

.col-1-2 {
  background-color: blanchedalmond;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
  .row {
    display: flex;
    margin: 1%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }

  .col-1-4,
  .col-2 {
    margin-left: 2%;
    flex: 0 0 44%;
    justify-content: center;

  }

  .col-3,
  .col-1-2 {
    flex: 0 0 98%;
    margin: 0
  }

  .flex-2 {
    order: 2
  }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .row {
    display: flex;
    margin: 0 1%;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
  }

  .flex-1 {
    order: 2
  }

  .col-1-4,

  .col-1-2 {
    flex: 0 0 20%;

    margin: 0 2%;
  }

  .col-2 {
    flex: 0 0 44%;
    margin: 0 2%;

  }

  .col-spen-2 {
    flex: 0 0 43%;
    margin: 0 1%;

  }

  .col-3 {
    flex: 0 0 68%;
    margin: 0 2%
  }

  .col-1 {
    flex: 0 0 92%;
    margin: 0 2%
  }

  .reverse {
    flex-direction: row-reverse;
  }
}